.DS_Store
.vscode
.idea/
vrivka/CMakeLists.txt
vrivka/a.out.dSYM/
vrivka/check.sh
vrivka/cmake-build-debug/
vrivka/file
a.out
.history
*.o
*.d
*.a
msh
a.out.dSYM
CMakeLists.txt
cmake-build-debug/
diffe
minihistory
a..history
msh.dSYM
minishell_subj.pdf